<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Scholar{% endblock %}</title>

    <!-- CSS -->
    <link rel="stylesheet" href="{{ asset('assets/frontoffice/vendor/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/frontoffice/css/fontawesome.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/frontoffice/css/templatemo-scholar.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/frontoffice/css/owl.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/frontoffice/css/animate.css') }}">

    {% block styles %}{% endblock %}
</head>

<body>

    {% include 'frontoffice/partials/_navbar.html.twig' %}

    {% block body %}{% endblock %}

    {% include 'frontoffice/partials/_footer.html.twig' %}

    <!-- JS -->
    <script src="{{ asset('assets/frontoffice/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

    {% block scripts %}{% endblock %}
</body>
</html>
